* {
    margin: 0;
    padding: 0;
}
#sections {
    display: flex;
    gap: 50px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
}
#header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#profile-picture {
    height: 300px;
    width: 100%;
    object-fit: contain;
}
#content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
#projects-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.projects {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.projects-upper {
    background-color: #46bd46;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects-lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.github-picture, .link, #footer-images *, #phone-image, #email-image {
    height: 35px;
}
#footer {
    display: flex;
    align-items: center;
    gap: 50px;
}
#footer-left {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
#footer-right :first-child {
    height: 300px;
    width: 100%;
    object-fit: contain;
}
#phone, #email, #footer-images {
    display: flex;
    gap: 13px;
    align-items: center;
}
