* {
    margin: 0;
    padding: 0;
}
#sections {
    display: flex;
    gap: 50px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}
#header {
    display: flex;
    align-items: center;
    gap: 50px;
    max-width: 1380px;
    flex-wrap: wrap;
    justify-content: center;
}
#header-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 1500px;
}
#projects-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.projects {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 2px 6px 2px rgb(169 169 169 / 58%);
    padding-bottom: 100px;
    min-width: 300px;
}
#projects-container > :nth-child(1) > :nth-child(1) {
    background-color: lightgreen;
}
#projects-container > :nth-child(2) > :nth-child(1) {
    background-color: #e5e375bd;
}
#projects-container > :nth-child(3) > :nth-child(1) {
    background-color: #a034ffa3;
}
#projects-container > :nth-child(4) > :nth-child(1) {
    background-color: lightblue;
}
#projects-container > :nth-child(5) > :nth-child(1) {
    background-color: lightcoral;
}
#projects-container > :nth-child(6) > :nth-child(1) {
    background-color: lightseagreen;
}
.projects-upper {
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects-lower {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
}
.project-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects-lower  :nth-child(2) {
    display: flex;
    gap: 20px;
}

.github-picture, .link, #footer-images *, #phone-image, #email-image {
    height: 35px;
}
#footer {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
#footer-left {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
#footer-right :first-child, #header-left :first-child {
    height: 300px;
    width: 100%;
    object-fit: contain;
    min-width: 310px;
}
#phone, #email, #footer-images {
    display: flex;
    gap: 13px;
    align-items: center;
}
